

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.namecolor{
    color: orange;
}
.header{
    display: flex;
    padding:30px;  
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 600px;
}
.half-width p{
    font-size: 18px;
    line-height: 2em;
    margin-bottom: 40px;
    color: rgb(119, 119, 119);
}
.hireMebtn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    transition: .5s;
}
.hireMebtn:hover{
   background-image: linear-gradient(tomato, orange);
}

section{
    margin-bottom: 130px;
}
.dream-big{
    display: flex;
    padding: 30px;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-img{
    width: 50%;
    padding-left: 5%;
}
.dream-img img{
    width: 600px;
}
.dream-details{
    width: 50%;
    padding-left: 5%;
    
}
.dream-details p{
    font-size: 18px;
    line-height: 2em;
    margin-bottom: 40px;
    width:90%;
    color: rgb(119, 119, 119);
}
.experience{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    position: relative;
    background-position-y: 300px;
    background-size: 130px;
}
.experience .border{   
    text-align: center; 
    margin-bottom: 60px;
}
.flexible{
    display: flex;
    margin-bottom: 100px;
}

.full-stack{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding:5px 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgba(128, 128, 128, 0.644);
    transition: .5s;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.full-stack:hover{
    box-shadow: 10px 10px 40px rgba(128, 128, 128, 0.959);
}
.baby-developer{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
    padding:5px 40px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px rgba(128, 128, 128, 0.644);
    transition: .5s;
    border-left: 7px solid;
    border-image: linear-gradient(purple,tomato,orange);
    border-image-slice: 1;
}
.baby-developer:hover{
    box-shadow: 10px 10px 40px rgba(128, 128, 128, 0.959);
}
.full-stack p, .baby-developer p{
    font-size: 18px;
    line-height: 2em;
    margin-bottom: 40px;
    width:90%;
    color: rgb(119, 119, 119);
}
.full-stack h3{
    color: orange;
}
.baby-developer h3{
    color: orange;
}
footer .copyright{
    text-align: center;
    color: rgb(255, 255, 255);
    background: #222;
    padding: 30px;
    margin-bottom: 0;
}
footer .copyright span{
    color: orange;
}