

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.namecolor{
    color: orange;
}
.header{
    display: flex;
    padding:30px;  
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 600px;
}
.half-width p{
    font-size: 18px;
    line-height: 2em;
    margin-bottom: 40px;
    color: rgb(119, 119, 119);
}
.hireMebtn {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    transition: .5s;
}
.hireMebtn:hover{
   background-image: linear-gradient(tomato, orange);
}

section{
    margin-bottom: 130px;
}
.dream-big{
    display: flex;
    padding: 30px;
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-img{
    width: 50%;
    padding-left: 5%;
}
.dream-img img{
    width: 600px;
}
.dream-details{
    width: 50%;
    padding-left: 5%;
    
}
.dream-details p{
    font-size: 18px;
    line-height: 2em;
    margin-bottom: 40px;
    width:90%;
    color: rgb(119, 119, 119);
}
